.footer {
    height: 6rem;
}

.footerReservedText {
    font-weight: 500;
    color: var(--grey-300);
}

@media screen and (max-width: 64rem) {
    .footerReservedText {
        max-width: 212px;
        text-align: center;
    }
}