.aboutMeWrapper {
    background-color: var(--grey-900);
    width: 100%;
    position: relative;
}

.aboutMeWrapper::before {
    content: url('../../../assets/images/bg_about-me.png');
    position: absolute;
    right: 0;
    top: 2.5rem;
}

.aboutMeWrapper::after {
    content: url('../../../assets/images/bg_dots.png');
    position: absolute;
    bottom: 0;
    max-height: 9rem;
    overflow: hidden;
}

.aboutMeContainer {
    margin: 8rem auto 6rem;
    max-width: 59rem;
    width: 100%;
}

.aboutMeTitle {
    font-size: 3rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0 0 2.5rem;
    position: relative;
}

.aboutMeTitle::after {
    content: '';
    width: 4rem;
    border-bottom: 6px solid var(--primary-color);
    position: absolute;
    bottom: -0.625rem;
    right: calc(50% - 2rem);
}

.aboutMeText {
    color: var(--grey-300);
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 500;
}

.aboutMeText b {
    color: var(--primary-color);
}