.menu {
    column-gap: 4rem;
    height: 6.25rem;
    background-color: transparent;
    align-items: flex-end;
    z-index: 2;
    position: relative;
}

.menuItem {
    font-weight: 700;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.menuItemHome {
    color: var(--primary-color);
    flex-direction: column;
}

.menuItem:hover {
    color: var(--primary-color);
}

.menuItem:hover::before {
    content: '';
    font-size: 0;
    height: 0.375rem;
    width: 0.375rem;
    background: var(--primary-color);
    border-radius: 0.375rem;
    margin-bottom: 0.25rem;
}

@media screen and (min-width: 64rem) {
    .menuItemHome::before {
        content: '';
        font-size: 0;
        height: 0.375rem;
        width: 0.375rem;
        background: var(--primary-color);
        border-radius: 0.375rem;
        margin-bottom: 0.25rem;
    }
}

@media screen and (max-width: 64rem) {
    .menu {
        align-items: center;
        justify-content: flex-start;
        z-index: 4;
    }

    .menuHamburger {
        background-color: transparent;
        border: none;
        z-index: 5;
    }

    .menuMobile {
        background-color: var(--grey-800);
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 6rem 1.5rem 4rem 1.5rem;
        width: 100%;
        border: none;
        box-shadow: none;
        color: var(--white-900);
    }
}